$red400: #E87255;

$orange400: #E9A448;

$pink400: #DB5172;

$purple400: #A079C0;

$cornflower400: #63AECF;

$green400: #C1B54C;

$offwhite: #F4F4F1;

$gray400: #82969B;

$mutedColor200: #282828;
$mutedColor300: #424242;
$mutedColor400: #666666;
$mutedColor500: #888;
$mutedColor600: #a0a0a0;
$mutedColor700: #c2c2c2;
$mutedColor800: #e0e0e0;
$mutedColor900: #f8f8f8;

&-colors {

  &-primary {
    background: $red400;
    border-top: 2em solid lighten($red400, 10%);
    border-bottom: 2em solid darken($red400, 10%);
    box-sizing: border-box;
    color: #fff;
    height: 18em;
    padding: .5em;
    width: 16em;
    &:after {
      content: '#{$red400}';
    }
  }
  &-secondary {
    background: $yellow400;
    border-top: 1em solid lighten($yellow400, 10%);
    border-bottom: 1em solid darken($yellow400, 10%);
    box-sizing: border-box;
    color: #fff;
    height: 9em;
    padding: .5em;
    width: 8em;
    &:after {
      content: '#{$yellow400}';
    }
  }
  &-tertiary {
    background: $purple400;
    border-top: 1em solid lighten($pink400, 10%);
    border-bottom: 1em solid darken($pink400, 10%);
    box-sizing: border-box;
    color: #fff;
    padding: .5em;
    height: 9em;
    width: 8em;
    &:after {
      content: '#{$purple400}';
    }
  }
  &-gradient {
    background-image: radial-gradient(ellipse at 80% 20%, $yellow400 0%, $red400 70%, $pink400 95%);
    box-sizing: border-box;
    color: #fff;
    height: 18em;
    margin: 0 0 0 2em;
    padding: .5em;
    width: 26em;
  }

  &-success {
    background-color: $green400;
    height: 1rem;
    margin: .5rem 0 0 0;
    width: 10rem;
  }

  &-offwhite {
    background-color: $offwhite;
    height: 1rem;
    margin: .5rem 0 0 0;
    width: 10rem;
  }

  &-cornflower {
    background-color: $cornflower400;
    height: 1rem;
    margin: .5rem 0 0 0;
    width: 10rem;
  }


}
