&-header {
  background-image: linear-gradient(45deg, $red400 0%, $yellow400 100%);
  display: flex;
  @include viewportMedium {
    .btn-open {
      display: none;
    }
  }
}

&-logo {
  margin: .5rem 2rem .5rem .5rem;
}

&-nav1 {
  &[aria-expanded="false"] {
    display: none;
  }
  > a {
    color: #fff;
  }
  @include viewportMedium {
    display: flex;
    > a {
      align-items: center;
      border-right: 1px solid $gray400;
      display: flex;
      padding: 0 .5em;
      text-decoration: none;
    }
    .btn-close {
      display: none;
    }
  }
}
