&-header {
  background-image: linear-gradient(45deg, $red400 0%, $yellow400 100%);
  display: flex;
  @include viewportLarge {
    .btn-open {
      display: none;
    }
  }
}

&-logo {
  margin: .5rem 2rem .5rem .5rem;
}

&-nav1 {
  background: $gray400;
  display: flex;
    flex-direction: column;
  opacity: 1;
  position: absolute;
    right: 0;
    top: 0;
  transition: opacity .25s ease-in-out;
  > a {
    color: #fff;
  }
  &-container {
    display: flex;

    .btn-open {
      &[aria-expanded='false'] {
          + .guide-nav1 {
          opacity: 0;
        }
      }
    }
  }
  @include viewportLarge {
    flex-direction: row;
    position: static;
    &-container {
      display: flex;
    }
    background: none;
    display: flex;
    flex-direction: row;
    position: static;
    > a {
      align-items: center;
      border-right: 1px solid $gray400;
      display: flex;
      padding: 0 .5em;
      text-decoration: none;
    }
    .btn-close {
      display: none;
    }
  }
}
