{% extends "layouts/guide/guide.njk" %}
{% set page = { title: 'Colors' } %}

{% block body %}
<div class="guide-row">
    <div class="guide-colors-primary">Primary Red: </div>
  <div class="guide-column">
    <div class="guide-colors-secondary"></div>
    <div class="guide-colors-tertiary"></div>
  </div>
  <div class="guide-colors-gradient">Gradient</div>
</div>
<div class="guide-row">
  <div class="guide-colors-success"></div>
  <div class="guide-colors-offwhite"></div>
  <div class="guide-colors-cornflower"></div>
</div>
{% endblock %}
