{% extends "layouts/project/main.njk" %}

{% set page = {
  title: "Science, Technology, Engineering, and Math programs in South Seattle  &mdash; Idle Seattle"
} %}

{% block main %}
  <div class="idle-hero">
    <div class="idle-hero-container">
      
    </div>
  </div>
{% endblock %}
