{% extends "layouts/project/main.njk" %}

{% set page = {
  title: "Science, Technology, Engineering, and Math programs in South Seattle  &mdash; Idle Seattle"
} %}

{% block main %}
  <div class="idle-hero">
    <p>Design principles help put everyone involved in the design process on the same page. &ldquo;Good design&rdquo; should not be subjective to individual opinions. Instead, designers and stakeholders should identify the &ldquo;what&rdquo; and the &ldquo;why&rdquo; of the project, and make design decisions based on what best serves those goals.</p>
  </div>
{% endblock %}
