{% extends "layouts/guide/guide.njk" %}
{% from "layouts/guide/patterns/thumbnails/_thumbnails.njk" import thumbnails %}
{% set page = { title: 'Page Layouts' } %}
{% set items = [
  {
    href: 'landingPage.html',
    src: 'layouts/landingPage.png',
    alt: 'Landing Page'
  },
  {
    href: 'layouts/dashboard.html',
    src: 'layouts/dashboard.png',
    alt: 'Dashboard'
  }
] %}

{% block body %}
{{ thumbnails(items) }}
{% endblock %}
